/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	background-color: #0d060f;
	height: auto;
	color: #fff;
}

.image-thumb {
	transition: 0.2s;
}
.image-thumb:hover {
	transform: scaleY(1.1);
}

.image-popular {
	background-color: blue;
}
.image-popular:hover {
	background-color: red;
}
