/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	background-color: #0d060f;
	color: #fff;
}

.image-thumb {
	transition: 0.2s;
}
.image-thumb:hover {
	transform: scaleY(1.1);
}

.image-popular {
	background-color: blue;
}
.image-popular:hover {
	background-color: red;
}
.text-title-popular {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-recomended {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
